
RawData/downloadedZipFile.zip

RawData/UCI HAR Dataset/activity_labels.txt

*.txt

.RData

.Rproj.user/3F0980DF/build_options

*.pper

.Rproj.user/3F0980DF/sdb/prop/19C9AC71

.Rproj.user/3F0980DF/sdb/prop/1D83FDEF

.Rproj.user/3F0980DF/sdb/prop/8EDD32F

.Rproj.user/3F0980DF/sdb/prop/CAA7DFC0

.Rproj.user/3F0980DF/sdb/prop/E03FCA66

.Rproj.user/3F0980DF/sdb/prop/E47711DC

.Rproj.user/3F0980DF/sdb/prop/INDEX

.Rproj.user/3F0980DF/sdb/s-F37FC235/3DDE153C

.Rproj.user/3F0980DF/sdb/s-F37FC235/FD24149C

.Rproj.user/3F0980DF/sdb/s-F37FC235/lock_file

HumanActivityRecognition.Rproj

.Rhistory

.Rproj.user/3F0980DF/sdb/per/t/3DDE153C

.Rproj.user/3F0980DF/sdb/per/t/FD24149C

downloadedZipFile.zip

CodeBook.html

*.html
